<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PhD Survey</title>

    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- import stylesheet -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  </head>

  <body>
    <!-- Basic usage -->
    <!-- <div id="app_basic" v-bind:title="timestamp" class="experiment-block">{{ message }}</div> -->


    <div id="questions">
        <div v-if="displayNameInput" id="name">
            <p>Please enter your name:</p>
            <input placeholder="First Name" />
            <input placeholder="Last Name" />
            <input type="button" id="" value="submit" @click="hideInput"/>
        </div>

        <div v-if="displayQuestionInput">
            {{ currQuestion }}
            <input type="radio" id="one" value="One" v-model="picked" />
            <label for="one">Yes</label>
    
            <input type="radio" id="two" value="Two" v-model="picked" />
            <label for="two">No</label>
    
            <div></div>
            <input type="button" id="questions" value="submit" @click="clickHandler"/>
        </div>

        <div>
            <p v-if="myImage.length > 0"><img v-bind:src="myImage" width="500" height="600"></p>
        </div>
  
    </div>
    <script>

      new Vue({
        el: "#questions",
        data: {
          myImage:"",
          picked: function() { return 'one'} ,
          questionIndex: 0,
          message: "1. Are you a nic fiend?",
          questions: ["1. Are you a nic fiend?", "2. Do you rave?", "3. Are you grumpy today?", "4. Would you like to be my Valentines?"],
          displayNameInput: true,
          displayQuestionInput: false
          //currQuestion: this.questions[0]
        },
        computed: {
            currQuestion: function () {
                //this.questionIndex = this.questionIndex + 1;
                return this.questions[this.questionIndex];

            }
        },
        methods: {
            hideInput () {
                this.displayNameInput = false;
                this.displayQuestionInput = true;
            },
            clickHandler () {
                if(this.questionIndex < 3){
                    this.questionIndex += 1;
                    console.log(this.picked);
                    this.picked = "one"
                }
                if(this.questionIndex === 3 && this.picked == "Two") {
                    alert("Too Bad")
                }
                if(this.questionIndex === 3 && this.picked == "One") {
                    this.myImage = "pose.jpg"
                }


            }
        }

      })
    </script>
  </body>
</html>